body {
    margin-left: 40px;
    background-color: #ffffff;
    background-image: url("../kuvat/taustakuva7.png");
    background-size: cover;
    image-rendering: auto;
    text-align: center;
}

ul {
    background-color: white;
    width: 150px;
    border: 2px solid blue;
    padding: 50px;
    margin-left: 808px;
    margin-top: 30px;
    text-align: center;
    color: black;
}

h1 {
    color: purple;
    font-size: 50px;
}