body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div {
    text-align: center;
}

img {
    border: 3px solid black;
    width: 80%;
}

.maindiv {
    background-color: lightgrey;
    width: 50%;
    border-radius: 8px;
}