body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div {
    text-align: center;
}

img {
    border: 3px solid black;
}

.maindiv {
    background-color: grey;
}