body {
    margin-left: 40px;
    background-color: #ffffff;
    background-image: url("../kuvat/taustakuva8.jpg");
    background-size: cover;
    image-rendering: auto;
    text-align: center;
    font-size: 25px;
}
h1 {
    font: bold 330%/100% "Lucida Grande";
    position: relative;
    color: #464646;
}

img {
    width: 220px;
    outline: 2px solid blue;
    padding: 20px;
}

.internet {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin-left: 712px;
    background-color: white;
}